<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!--- Besoin basique de la page
   ================================================== -->
    <meta charset="utf-8" />
    <title>vcartier</title>
    <meta name="description" content="" />
    <meta name="author" content="Virgile CARTIER" />

    <!-- Mobile Specific Metas
   ================================================== -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/css/default.css" />
    <link rel="stylesheet" href="../static/css/layout.css" />
    <link rel="stylesheet" href="../static/css/media-queries.css" />
    <link rel="stylesheet" href="../static/css/magnific-popup.css" />

    <!-- Script
   ================================================== -->
    <script src="../static/js/modernizr.js"></script>

    <!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="../static/images/favicon.png" />
  </head>

  <body>
    <!-- Page princiaple
   ================================================== -->
    <header id="home">
      <nav id="nav-wrap">
        <a class="mobile-btn" href="#nav-wrap" title="Show navigation"
          >Show navigation</a
        >
        <a class="mobile-btn" href="#" title="Hide navigation"
          >Hide navigation</a
        >

        <ul id="nav" class="nav">
          <li class="tab"><a class="smoothscroll" href="#home">Page d'accueil</a></li>
          <li class="tab"><a class="smoothscroll" href="#about">Me concernant</a></li>
          <li class="tab"><a class="smoothscroll" href="#resume">CV</a></li>
        </ul>
        <!-- end #nav -->
      </nav>
      <!-- end #nav-wrap -->

      <div class="row banner">
        <div class="banner-text">
          <h1 class="responsive-headline">Virgile Cartier</h1>
          <h3>
            En fin de reconversion, je suis étudiant en fin de master 2 à l'Université Sorbonne Paris IV après un parcours d'étude et professionnelle quelque peu atypique.
          </h3>
          <p>En apprendre plus <a class="smoothscroll" href="#about">me concernant</a>.</p>

          <hr />
          <ul class="social">
            <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
            <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
            <li>
              <a href="mailto:virgile.cartier@gmail.com"
                ><i class="fa fa-envelope"></i
              ></a>
            </li>
            <!--<li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>-->
            <li>
              <a href="https://github.com/VirgileCartier/"
                ><i class="fa fa-github"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <p class="scrolldown">
        <a class="smoothscroll" href="#about"
          ><i class="icon-down-circle"></i
        ></a>
      </p>
    </header>
    <!-- fin section de la Page principale -->

    <!-- Section about / me concernant
   ================================================== -->
    <section id="about">
      <div class="row">
        <div class="three columns">
          <img
            class="profile-pic"
            src="../static/images/profilepic.jpg"
            alt=""
          />
        </div>

        <div class="nine columns main-col">
          <h2>Me concernant</h2>

          <p align="justify">
            J'ai obtenu trois diplômes d'études supérieures liés au langage à l'Université
            Paris Sorbonne en parallèle d'une activité professionnelle 
            riche et diverse pour être en mesure de les financer. Au fur et à mesure
            de mes études, je me suis orienté naturellement vers l'étude du langage, 
            tout d'abord comme <span>objet littéraire</span> puis comme <span>objet d'étude scientifique</span>.
            Enfin, ayant toujours été, à titre personnel, attiré par les nouvelles technologies,
            j'ai fini par pouvoir associer ces deux intérêts dans mon <span>Master de linguistique
            computationnelle</span>.
          </p>
          <p align="justify">
            Avant mon année de Master, je n'avais jamais ne serait-ce qu'écrit une simple ligne
            de code ; j'ai dû apprendre en autodidacte divers langages de programmation, notamment
            Python. Avec effort, je me suis familiarisé au <span>paradigme de programmation orientée objet</span>
            ainsi qu'à toutes les principales librairies utilisées en <span>analyse de données ou en TALN</span>.
            Je suis maintenant à la recherche d'un stage de fin d'année pour obtenir une expérience 
            professionnelle où je pourrais mettre à profit tout cet apprentissage !
          </p>

          <div class="row">
            <div class="columns download">
              <p>
                <a href="../static/pdf/vcartier-cv.pdf" class="button"
                  ><i class="fa fa-"></i>Télécharger CV</a
                >
              </p>
            </div>
          </div>
          <!-- end row -->
        </div>
        <!-- end .main-col -->
      </div>
    </section>
    <!-- fin de la section me concernant / about -->

    <!-- Section CV
   ================================================== -->
    <section id="resume">
      <!-- section  Education
      ----------------------------------------------- -->
      <div class="row education">
        <div class="three columns header-col">
          <h1><span>Éducation</span></h1>
        </div>

        <div class="nine columns main-col">
          <div class="row item">
            <div class="twelve columns">
              <h3>Paris IV Sorbonne</h3>
              <p class="info">
                Licence de Lettres Modernes <span>&bull;</span>Mention AB<span>&bull;</span>
                <em class="date">2018</em>
              </p>

              <p align="justify">
                J'ai tout d'abord mené des études Lettres Modernes à l'Université Paris Sorbonne
            où je m'étais spécialisé dans l'étude de la littérature du moyen-âge, notamment à travers 
            l'analyse de lais. Ce faisant, je me suis initié à l'étude phonétique de l'évolution du 
            français, aussi nécessaire que complexe, dans la mesure où selon la période et
            la région d'origine de l'auteur, la langue utilisée peut être radicalement différente.
            J'ai mené des travaux documentant l'évolution des modèles phonétiques du latin vulgaire
            au français vernaculaire actuel. Ces sujets passionnants m'ont influencé à poursuivre 
            des études purement linguistiques.
              </p>
              
            </div>
          </div>
          <!-- item end -->

          <div class="row item">
            <div class="twelve columns">
              <h3>Paris IV Sorbonne</h3>
              <p class="info">
                Licence de Sciences du langage<span>&bull;</span>Mention TB
                <span>&bull;</span><em class="date">2019</em>
              </p>

              <p align="justify">
                Après l'obtention de ma licence de Lettres, je me suis réorienté en sciences du langage où 
                j'ai eu l'occasion de faire de nombreux travaux dans toutes ses sous-disciplines : morphologie, 
                pragmatique, phonétique ou encore sémantique - qui aura été ma spécialisation. En effet, 
                l'étude de la méthode de communication du sens, de l'abstraction, m'a absolument fasciné. 
                J'ai également eu l'occasion de faire des enquêtes de terrain, notamment une étude
                de variation diatopique du français de la banlieue parisienne (spécifiquement le Val-de-Marne, 94). Je me suis ainsi
                familiarisé à l'utilisation de logiciels spécialisés comme Praat pour des tâches de 
                transcription phonétique. C'est lors de cette année que j'ai été introduit à la linguistique
                computationnelle ; j'ai tout de suite été séduit car elle semblait apporter des possibilités 
                immenses, tant d'un point de vue de recherche que d'un point de vue applicatif. Je suivais 
                à titre personnel les avancés en matière de nouvelle technologie et je voyais là l'occasion
                de joindre ces deux intérêts. Aussi, la Sorbonne proposait un master de linguistique 
                computationnelle que je réussis à intégrer.
              </p>
              
            </div>
          </div>

          <div class="row item">
            <div class="twelve columns">
              <h3>Paris IV Sorbonne</h3>
              <p class="info">
                Master de Langue et Informatique - linguistique computationnelle<span>&bull;</span>M1 mention Bien
                <span>&bull;</span><em class="date">2019 à 2021</em>
              </p>

              <p align="justify">
              Ce master m'a permis de découvrir une toute nouvelle discipline. En effet, comme susmentionné,
              je n'avais jamais codé avant mon année de master. J'avais, au plus, eu à faire des macros 
              sur excel ainsi qu'à utiliser quelques scripts sur Praat. Ainsi, j'ai dû rattraper mon retard
              en la matière et apprendre au fur et à mesure différents langages de programmation ainsi que plusieurs logiciels de textométrie ou encore de représentation de données.
              </p>

              <p align="justify">
              J'ai eu l'occasion d'explorer de nouvelles notions à travers différents projets académiques et personnels, j'ai essayé de faire le lien entre mes connaissances de divers concepts linguistiques de ceux talistes. Mon M1, qui est une tentative de formaliser ce rapprochement, vise à étudier la correspondance de deux objets apparemment similaires que sont l'entité nommée (named entity) en NLP et le nom propre en linguistique à travers leur caractéristique référentielle.
              </p>

              <p align="justify">
              En outre, j'y ai appris l'usage de divers outils, notamment sur Python, allant de l'extraction automatique de corpus à l'annotation automatique, aux projets de Machine et Deep Learning. Au reste, j'ai particulièrement utilisé et commencé à maîtriser les librairies conventionnelles de data science comme numpy, pandas, matplotlib, seaborn, scikit-learn ou encore pytorch. Enfin, j'ai eu l'occasion d'employer différents programmes de data visualization ou de textométrie comme GATE, Neo4j, Gephi ainsi que la création d'ontologie OWL via SparQL, etc.
              </p>

              <p align="justify">
              Pour finir, j'ai fait quelques projets de synthèse de parole notamment un apprentissage de modèles de Markov cachés et détection de mots clés sur corpus oral en utilisant HTK via des scripts codés en PERL, mais aussi un agent conversationnel en utilisant voxeo, lui codé en vxml, un dialecte d'xml. Par ailleurs, j'ai participé, dans le cadre d'un projet personnel, à la création de robots conversationnels codés avec la librairie rasa de Python. Nous avions utilisé pour ce faire un corpus original et ad hoc composé de nos SMS.
              </p>

              <p align="justify">
              La plupart de ces travaux peuvent être trouvés sur <a class="smoothscroll" href="https://github.com/VirgileCartier">Github</a>.
              </p>

              <p>
                Plus d'informations concernant
                <a class="smoothscroll" href="https://lettres.sorbonne-universite.fr/"
                  >l'Université Paris Sorbonne</a
                >
                (site officiel).
              </p>
            </div>
          </div>
          <!-- item end -->
        </div>
        <!-- main-col end -->
      </div>
      <!-- fin section Education -->

      <!-- Travail
      ----------------------------------------------- -->
      <div class="row work">
        <div class="three columns header-col">
          <h1><span>Travail</span></h1>
        </div>

        <div class="nine columns main-col">
          <div class="row item">
            <div class="twelve columns">
              <h3>De multiples expériences professionnelles</h3>
              <p class="info"> Agent d'accueil cinéma, employé de vente, barman, serveur, etc.
                 <span>&bull;</span>
                <em class="date"> 2009 à 2023</em>
              </p>

              <p align="justify">
                J'ai commencé à travailler dès que j'ai pu de façon à être en mesure de pouvoir
                financer mes études et obtenir mon indépendance. Afin de pouvoir continuer à vivre à Paris, j'interrompais mes études - entre 1 ans et 6 mois - pour pouvoir travailler. En somme, j'alternais donc entre semestre ou année d'étude et semestre ou année 
                de travail. Ce faisant, j'ai mis plus de temps à obtenir mes diplômes, mais
                j'étais tout à fait autonome. Cela m'a inculqué la valeur de l'effort, j'ai appris à travailler de manière totalement autonome et à gérer mon budget ainsi que mon emploi du temps. Si cela n'a pas toujours été aisé, j'ai réussi à mener mes études à leur terme.
              </p>

              <p align="justify">
                J'ai beaucoup travaillé dans des métiers où le contact avec le client est essentiel. Ainsi, je suis particulièrement à l'aise avec la prise de parole. Par ailleurs, ayant occupé différents postes à plusieurs niveaux de responsabilités, je suis tout à fait familiarisé avec le monde du travail et la vie d'entreprise.
              </p>

              <p align="justify">
                Bien que je sois capable de travailler de manière autonome, je souhaiterais néanmoins vous exprimer mon estime pour le travail collaboratif ; mes expériences académiques comme professionnelles m’ont inculqué la valeur et le plaisir du travail d’équipe. En effet, j'ai souvent eu à m'associer à des collègues ou des camarades pour mener à bien divers projets, j'ai l'habitude du travail organisé autour d'un partage de tâches cohérent et méthodique.
              </p>

              <p align="justify">
                En outre, j’ai été amené à travailler dans des environnements où l’anglais était la langue principale consolidant ainsi mes connaissances de celle-ci que ce soit parlée ou écrite. En l'occurrence, j'ai assuré l'accueil de clients anglophones comme employé aux Galeries Lafayette ou lors de soirée privée comme barman ou serveur, j'ai ainsi renforcé mes connaissances de la langue anglaise et suis parfaitement capable de poursuivre une conversation complète. Par ailleurs, j'ai des bases correctes en langue espagnole.
              </p>
            </div>
          </div>
          <!-- item end -->

        </div>
        <!-- main-col end -->

      </div>
      <!-- Fin section Travail -->

      <!-- Compétences
      ----------------------------------------------- -->
      <div class="row skill">
        <div class="three columns header-col">
          <h1><span>Compétences</span></h1>
        </div>

        <div class="nine columns main-col">
          <p align="justify">
            Enthousiaste de la tech, j'ai eu l'opportunité d'explorer et d'apprendre une grande variété de technologies depuis que j'ai commencé mon voyage dans l'apprentissage du code. Je suis constamment à la recherche de nouveaux outils afin d'accroître mes connaissances et mes compétences.
          </p>
          <p align="justify">
            Il s'agit là, bien sûr, d'une auto-évaluation, comportant donc certains biais inhérents mais cela témoigne par contre, je crois, de ma capacité à m'adapter à de nouveaux outils et de nouveaux langages.
          </p>

          <div class="bars">
            <ul class="skills">
              <li><span class="bar-expand Python"></span><em>Python</em></li>
              <li><span class="bar-expand LanguageCPP"></span><em>C++ & C</em></li>
              <li><span class="bar-expand javascript"></span><em>javascript</em></li>
              <li><span class="bar-expand html5"></span><em>HTML5</em></li>
              <li><span class="bar-expand css"></span><em>CSS</em></li>
              <li><span class="bar-expand Librairies"></span><em>Librairies Python de visualisations de données</em></li>
              <li><span class="bar-expand DL"></span><em>Librairies Python de ML, DL : Sklearn, PyTorch</em></li>
              <li><span class="bar-expand Anaconda"></span><em>Environnement Anaconda</em></li>
              <li><span class="bar-expand linux"></span><em>Linux</em></li>
            </ul>
          </div>
          <!-- end skill-bars -->
        </div>
        <!-- main-col end -->
      </div>
      <!-- Fin Compétences -->
    </section>
    <!-- Fin section de CV -->

    <!-- footer
   ================================================== -->
    <footer>
      <div class="row">
        <div class="twelve columns">
          <ul class="social-links">
            <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
            <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
            <li>
              <a href="mailto:virgile.cartier@gmail.com"><i class="fa fa-envelope"></i></a>
            </li>
            <!--<li>
              <a href="https://www.linkedin.com/in/dominique-dordain-28b7b8105/"><i class="fa fa-linkedin"></i></a>
            </li>-->
            <li>
              <a href="https://github.com/VirgileCartier"><i class="fa fa-github"></i></a>
            </li>
          </ul>

          <ul class="copyright">
            <li>&copy; 2023 Virgile Cartier.</li>
            <li>
              Conçu via un template disponible sur 
              <a
                href="http://www.styleshout.com/"
                title="Styleshout"
                target="_blank"
                >Styleshout
              </a>
            </li>
          </ul>
        </div>

        <div id="go-top">
          <a class="smoothscroll" title="Back to Top" href="#home"
            ><i class="icon-up-open"></i
          ></a>
        </div>
      </div>
    </footer>
    <!-- Footer End-->

    <!-- Java Script
   ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
      window.jQuery ||
        document.write('<script src="../static/js/jquery-1.10.2.min.js"><\/script>');
    </script>
    <script
      type="text/javascript"
      src="../static/js/jquery-migrate-1.2.1.min.js"
    ></script>

    <script src="../static/js/jquery.flexslider.js"></script>
    <script src="../static/js/waypoints.js"></script>
    <script src="../static/js/jquery.fittext.js"></script>
    <script src="../static/js/magnific-popup.js"></script>
    <script src="../static/js/init.js"></script>
  </body>
</html>
